<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

<h2>Yatzy</h2>

<table style="width:100%" >
    <tr>

        <th>Number</th>
        <th>Score</th>

    </tr>
    <tr>
        <td>One</td>
        <td>Null</td>

    </tr>
    <tr>
        <td>Two</td>
        <td>Null</td>

    </tr>
    <tr>
        <td>Three</td>
        <td>Null</td>

    </tr>
    <tr>
        <td>Four</td>
        <td>Null</td>

    </tr>
    <tr>
        <td>Five</td>
        <td>Null</td>

    </tr>
    <tr>
        <td>Six</td>
        <td>Null</td>

    </tr>
</table>


<br>


<button class="button button1">Roll</button>

<br>

<br>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1"> ${dice1}</label><br>

<input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
<label for="vehicle2"> I have a car</label><br>

<input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
<label for="vehicle3"> I have a boat</label><br>

<input type="checkbox" id="vehicle4" name="vehicle1" value="Bike">
<label for="vehicle4"> I have a truck</label><br>

<input type="checkbox" id="vehicle5" name="vehicle2" value="Car">
<label for="vehicle5"> I have a scooter</label><br>





</body>

</html>